.wm-top-title {
  display: inline-block;
  line-height: 16px;
  vertical-align: middle;
  color: #2fadff;
}

h1 {
  color: #79c800;
}

h2 {
  color: #a9ea44;
}

h3 {
  color: #abf539;
}

h4 {
  color: #adff2f;
}

h5 {
  color: #ff2fad;
}

h6 {
  color: #812fff;
}

h7 {
  color: #2fadff;
}

h8 {
  color: #2fadff;
}

body {
  background-color: #282C34;
  color: mintcream;
  font-size: 16px;
}

.wm-top-brand {
  display: inline-block;
  float: left;
  overflow: visible;
  width: 0px;
  height: 50px;
  color: #79c800;
  font-size: 18px;
  white-space: nowrap;
  text-decoration: none;
}

.wm-top-link, .wm-top-link:hover, .wm-top-link:active, .wm-top-link:visited, .wm-top-link:focus {
    color: #79c800;
    text-decoration: none;
}

.wm-top-version {
  border: 1px solid #79c800;
  border-radius: 3px;
  padding: 0px 5px;
  color: #79c800;
  font-size: 8pt;
}


.wm-top-tool-expanded {
  position: absolute;
  right: 0px;
  padding: inherit;
  width: 100%;
  background-color: #79c800;
}

.wm-page-toc-text {
  padding: 2px 2px 2px 1rem;
  display: block;
  cursor: pointer;
  color: red;
  background-color: #282c34;
}

.wm-toctree a, .wm-toctree a:visited {
    color: #79c800;
    text-emphasis-color: black;
    text-decoration: none;
    outline: none;
}


.wm-toctree .wm-toctree a:hover {
  color: #ff2fad;
  text-decoration: none;
  outline-width: none;
}

.wm-toctree .wm-toctree a:focus {
  color: #ff2fad;
  text-decoration: none;
  outline-width: none;
}

span.wm-toc-text {
  color: #79c800;
}

.wm-toc-li.wm-current, .wm-toc-li.wm-current:hover {
  background-color: #2fadff;
  text-shadow: 2px 2px 2px black;
  color: #21252B;
}

.wm-toc-li-nested.wm-page-toc {
  font-size: 1.2rem;
  line-height: 1.2rem;
  overflow: hidden;
  border-left: 1px solid #79c800;
}

button, .btn, .btn-sm, .btn-xs, .btn-default, #hist-fwd, #hist-back, #wm-toc-button, #wm-search-go {
  background-color: #21252B;
  color: #2fadff;
  border: 1px solid;
}

button:focus, .btn:focus, .btn-sm:focus, .btn-xs:focus, .btn-default:focus, .btn-link:focus, #hist-fwd:focus, #hist-back:focus, #wm-toc-button:focus, #wm-search-go:focus {
  color: orange;
  background-color: #2C313A;
  border-color: #80c715;
}

button:hover, .btn:hover, .btn-sm:hover, .btn-xs:hover, .btn-default:hover, .btn-link:hover, #hist-fwd:hover, #hist-back:hover, #wm-toc-button:hover, #wm-search-go:hover {
  color: #ff2fad;
  background-color: #2C313A;
  border-color: #ff2fad;
}

.wm-article-nav {
  display: inline-block;
  max-width: 48%;
  white-space: nowrap;
  color: #79c800;
  text-align: right;
}

.wm-article-nav > a, .wm-article-nav > a:visited, .wm-article-nav > a:hover, .wm-article-nav > a:focus {
  color: #79c800;
  text-decoration: none;
  outline: none;
}

.search-text > b {
  color: red;
}

/* ################################################# */
pre { color: white !important; }

.md-clipboard:before {
    color: rgb(255, 255, 255);
}

.codehilite:hover .md-clipboard:before,.md-typeset .highlight:hover .md-clipboard:before,pre:hover .md-clipboard:before {
    color: rgba(255, 255, 255, 0.54) !important
}

/* ################################################# */

code {
  padding: 2px 5px;
  background: #31363F;
  border: none 1px black;
  color:  #2fffe9;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* More class support */
.admonition.danger, .admonition.error, .admonition.important { /* csslint allow: adjoining-classes */
  color: red;
  background-color: #f2dede;
  border-color: #eed3d7;
}

/* Custom Additions */
input#mkdocs-search-query.form-control {
  background-color: #21252B;
  color: #ff2fad;
  border: 1px solid #2fadff;
}

a, a:visited, a:hover, a:focus {
  color: #2fadff;
  text-decoration: none;
  outline: none;
}

.wm-page-content a {
  color: #2fadff !important;
  text-decoration: none;
  outline: none;
}

.search-title {
  color: #2fadff;
}

/* list stuff */
/* Tell the list-items to not display numbers, but keep track of what the numbers should be */
ol li {
  counter-increment: list;
  list-style-type: none;
  position: relative;
}

/* Output the numbers using the counter() function, but use a custom color, and position the numbers how we want */ol li:before {
  color: #2fadff;
  content: counter(list) ".";
  left: -32px;
  position: absolute;
  text-align: right;
  width: 26px;
}

/* tables */
th {
  color: #00c8b3;
  font-weight: bolder;
  font-size: large;
  text-align: left;
  vertical-align: middle;
}

td { color: mintcream;
  text-align: left;
  vertical-align: middle;
}
td:nth-child(1) { color: #00c8b3; }
